body {
  background-color: rgb(253, 251, 251);
  font-family: monospace;
  font-size: 12;
  color: black;
  line-height: 1.4;
}

aside {
  padding: 10px;
}

#menu_links {
  margin: 70px;
}

#menu_links li {
  display: inline;
}

#cabecalho {
  top: 0;
  position: fixed;
}

#minha_foto {
  border: 5px solid olive;
  border-radius: 10px;
}
