body {
  background-color: rgb(253, 251, 251);
  font-family: monospace;
  font-size: 12;
  color: black;
  line-height: 1.4;
  padding: 0 10px;
}

header {
  margin: 20px 0;
}

header h1 {
  margin-bottom: 5px;
}

#menu {
  display: flex;
}

#menu a {
  padding-right: 8px;
}

#textos-e-licoes {
  display: flex;
}

#lado-esquerdo {
  display: flex;
  flex-direction: column;
}

#lado-esquerdo p {
  text-align: justify;
}

#bio {
  width: 50%
}

#lado-direito {
  display: flex;
  width: 250px;
  align-items: center;
  text-align: end;
}

#curriculo {
  margin-bottom: 25px;
}

#curriculo h1 {
  margin-bottom: 2px;
}

#curriculo_tabela th {
  padding-right: 10px;
}
